.footer {
    background-color: rgba(37,56,100,255); /* Background color for footer */
    padding: 20px 0;
    border-top: 1px solid #e9ecef; /* Border on top */
}

.footer__column {
    padding: 15px;
}

.footer__image {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

.footer__address,
.footer__phone,
.footer__email,
.footer__service,
.footer__link,
.footer__newsletter {
    margin-bottom: 10px;
    color: white;
    padding: 5px;
}
.footer_believe{
    color: white;
    text-align: justify;
}
.footer__address:hover,
.footer__phone:hover,
.footer__email:hover,
.footer__service:hover,
.footer__link:hover,
.footer__newsletter:hover {
    color: rgba(247,156,0,255);
}

.footer__heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
}

.footer__service,
.footer__link {
    font-size: 1rem;
}

.footer__button {
    background-color: rgba(247,156,0,255); /* Button background color */
    color: white; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

